@page "/Notifications"

<h3>PÁGINA DE NOTIFICACIONES</h3>
<hr />

@* Este es el componente que ahora contiene toda la lógica 
    y la visualización de la lista de notificaciones.
*@
<NotificationSidebar />