<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Proyecto2025.Server</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

       @*  <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div> *@

        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div> *@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://localhost:7016/swagger" target="_blank">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Swagger
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="registrar-user">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Usuarios
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mensajes">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Mensajes
            </NavLink>
        </div>


       @*  <div class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Chats
            </NavLink>
        </div> *@

       @*  <div class="nav-item px-3">
            <NavLink class="nav-link" href="chatmiembro">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Chat Miembros
            </NavLink>
        </div> *@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Principal">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Pagina principal
            </NavLink>
        </div>

       @*  <div class="nav-item px-3">
            <NavLink class="nav-link" href="crearGrupo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Crear Grupo
            </NavLink>
        </div> *@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="registroUsuarioPrueba">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> RegUsuario (Prueba)
            </NavLink>
        </div>
    </nav>
</div>
        
